#right-bar {
    float: right;

}

.site-logo {
    float: left;
}



.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #50C878;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;

}

nav {
    float: left;
    display: flex;
    transition: none;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
    padding-top: 200px;
    font-family: Sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    transition: opacity 150ms ease-in-out;

}

a:hover {
    color: black;
}

a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: black;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

a:hover::before {
    width: 100%;
}


h1 {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #000000;
    display: inline-block;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #000000;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}


.hero {
    height: 100% width: 100% background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(bann1.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}



* {
    box-sizing: border-box;
}

html {
    background: #191919;
}

body {
    background: #191919, #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 100;
    width: 100vw;
    height: 100vh;
}

.login-form-wrap {
    background: radial-gradient(ellipse at center, rgba(81, 112, 173, 1) 0%, rgba(53, 84, 147, 1) 100%);
    border: 1px solid #2d416d;
    box-shadow: 0 1px #5670A4 inset, 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 360px;
    height: 380px;
    margin: 60px auto;
    padding: 50px 30px 0 30px;
    text-align: center;
}

.login-form-wrap h1 {
    margin: 0 0 50px 0;
    padding: 0;
    font-size: 26px;
    color: #fff;
}

.login-form-wrap h5 {
    margin-top: 40px;
}

.login-form-wrap h5 > a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}



.login-form input[type="email"],
input[type="password"],
    {
    width: 100%;
    border: 1px solid #314d89;
    outline: none;
    padding: 12px 20px;
    color: #afafaf;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.login-form input[type="email"] {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    padding-bottom: 13px;
    box-shadow: 0 -1px 0 #E0E0E0 inset,
        0 1px 2px rgba(0, 0, 0, 0.23) inset;
}

.login-form input[type="password"] {
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.23) inset,
        0 1px 2px rgba(255, 255, 255, 0.1);
}

.login-form input[type="submit"] {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: linear-gradient(to bottom, rgba(224, 224, 224, 1) 0%, rgba(206, 206, 206, 1) 100%);
    display: block;
    margin: 20px auto 0 auto;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 8px;
    font-size: 17px;
    color: #636363;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
    font-weight: 700;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.36) inset;
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container2 {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box {
    margin-top: 0%;
    width: 400px;
    padding: 40px;
    /* position: absolute; */
    /* top: 50%;
  left: 50%; */
    /* transform: translate(-50%, -50%); */
    background: #191919;
    text-align: center;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box input[type="email"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
}

.box2 {
    padding: 0px;
    top: 90%;
}





.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    display: block;
    height: 50px;
    width: 186px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-size: 14px;
    text-align: center;

    &:after {
        position: absolute;
        content: '';
        display: inline-block;
        background: rgba(59, 173, 227, 1);
        background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
        height: 50px;
        width: 372px;
        z-index: -1;
        transform: translateX(-280px);
        transition: transform 400ms ease-in;
    }

    &:hover {
        &:after {
            transform: translateX(-200px);
        }
    }

}

.button5 {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;
}

.button5:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

@media all and (max-width:30em) {
    .button5 {
        display: block;
        margin: 0.4em auto;
    }
}


#escinfo {
    color: #ffffff;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;font-family: 'Roboto', sans-serif;
    background-color: #191919;
}


